section.section.hero
        .hero__bg
            //img(src="assets/img/bd/portfolio_3.jpg", alt="").hero__bg-img
            //-img(src="./assets/img/bd/portfolio_m.jpg", alt="").hero__bg-img

        .hero__title
            img(src="./assets/img/decor/portfolio_header-3.png", alt="" ).section-title
            //-img(src="./assets/img/decor/portfolio_header-3.png", alt="").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="./assets/img/content/user0.png", style="width:100%", alt="Фото автора").user__photo-img
                        //-img(src="./assets/img/content/user1.png", alt="").user__photo-img
                .user__name Сергей Гришин
                .user__desc Личный сайт веб-разработчика

        .hero__socials-block
            include ../common/social_icons

        a(href="#").hamburger#hamburger
            //-img(src="./assets/img/icons/hamburger.svg", alt="").hamburger__icon
            span.hamburger__line
            span.hamburger__line
            span.hamburger__line



block heder


