//--Created by serg on 10.05.17.

block content
    .wrapper-parallax
        .parallax#parallax
            .parallax__layer
                img(src="./assets/img/parallax/Layer_5.png",  alt="").image-1
            .parallax__layer
                img(src="./assets/img/parallax/Layer_8.png",  alt="").image-2
            .parallax__layer
                img(src="./assets/img/parallax/Layer_7.png",  alt="").image-3
            .parallax__layer
                img(src="./assets/img/parallax/Layer_6.png",  alt="").image-4
            .parallax__layer
                img(src="./assets/img/parallax/Layer_4.png",  alt="").image-5
            .parallax__layer
                img(src="./assets/img/parallax/Layer_2.png",  alt="").image-6
            .parallax__layer
                img(src="./assets/img/parallax/Layer_1.png",  alt="").image-7

    //- Прелоадер

    //-.preloader
        .preloader__spinner
            .preloader__animation
            .preloader__percents 0%

