//- Created by serg on 27.05.17.

.section.myworks
    .myworks__left
        ul.myworks__desc
            li.desc__item.slider-item.active
                .desc__title
                    +title('Сайт школы онлайн','' , 'desc__title-1', '34px')
                    +title('образование-1','' , 'desc__title-2', '34px')
                .desc__shape-1
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-1-image
                .desc__text
                    p HTML, CSS, JAVASCRIPT
                .desc__shape-2
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-2-image
                a(href='index.html').desc__button
                    svg(class='link-icon')
                        use(xlink : href='./assets/img/sprite.svg#link')
                    span.desc__button-text Посмотреть сайт

            li.desc__item.slider-item
                .desc__title
                    +title('Сайт школы онлайн','' , 'desc__title-1', '34px')
                    +title('образование-2','' , 'desc__title-2', '34px')
                .desc__shape-1
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-1-image
                .desc__text
                    p HTML, CSS, JAVASCRIPT
                .desc__shape-2
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-2-image
                a(href='index.html').desc__button
                    svg(class='link-icon')
                        use(xlink : href='./assets/img/sprite.svg#link')
                    span.desc__button-text Посмотреть сайт
            li.desc__item.slider-item
                .desc__title
                    +title('Сайт школы онлайн','' , 'desc__title-1', '34px')
                    +title('образование-3','' , 'desc__title-2', '34px')
                .desc__shape-1
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-1-image
                .desc__text
                    p HTML, CSS, JAVASCRIPT
                .desc__shape-2
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-2-image
                a(href='index.html').desc__button
                    svg(class='link-icon')
                        use(xlink : href='./assets/img/sprite.svg#link')
                    span.desc__button-text Посмотреть сайт
            li.desc__item.slider-item
                .desc__title
                    +title('Сайт школы онлайн','' , 'desc__title-1', '34px')
                    +title('образование-4','' , 'desc__title-2', '34px')
                .desc__shape-1
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-1-image
                .desc__text
                    p HTML, CSS, JAVASCRIPT
                .desc__shape-2
                    img(src="./assets/img/bd/Shape_1.png", alt="").desc__shape-2-image
                a(href='index.html').desc__button
                    svg(class='link-icon')
                        use(xlink : href='./assets/img/sprite.svg#link')
                    span.desc__button-text Посмотреть сайт




    .myworks__right.slider__display
        .display__block
            ul.display__list
                li.display__item.slider-item.active
                    img(src="./assets/img/content/work-1.png" alt="").slider__display-pic
                li.display__item.slider-item
                    img(src="./assets/img/content/work-2.png" alt="").slider__display-pic
                li.display__item.slider-item
                    img(src="./assets/img/content/work-3.png" alt="").slider__display-pic
                li.display__item.slider-item
                    img(src="./assets/img/content/work-4.png" alt="").slider__display-pic


    .myworks__right.slider__buttons
        .slider__button-left
            ul.button__list-left
                li.button__item-left.slider-item.active
                    img(src="./assets/img/content/work-4.png" alt="").left__pic
                li.button__item-left.slider-item
                    img(src="./assets/img/content/work-1.png" alt="").left__pic
                li.button__item-left.slider-item
                    img(src="./assets/img/content/work-2.png" alt="").left__pic
                li.button__item-left.slider-item
                    img(src="./assets/img/content/work-3.png" alt="").left__pic

            .button__shodow-left
            .button__arrow-left
                a(href='').slider__btns-left
                    svg(class='barrow-douwn')
                        use(xlink : href='./assets/img/sprite.svg#arrow_down')




        .slider__button-right
            ul.button__list-right
                li.button__item-right.slider-item.active
                    img(src="./assets/img/content/work-2.png" alt="").right__pic
                li.button__item-right.slider-item
                    img(src="./assets/img/content/work-3.png" alt="").right__pic
                li.button__item-right.slider-item
                    img(src="./assets/img/content/work-4.png" alt="").right__pic
                li.button__item-right.slider-item
                    img(src="./assets/img/content/work-1.png" alt="").right__pic

            .button__shodow-right
            .button__arrow-right
                a(href='').slider__btns-right
                    svg(class='barrow-up')
                        use(xlink : href='./assets/img/sprite.svg#arrow_down')







