
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content:flex-end ;
  align-items: center;
  //position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  //border: 1px solid red;
}


.footer-socials__link {
  //display: flex;
  line-height: 2rem;
  display: inline-block;
  width: 37px;
  height: 35px;
  margin-left: 10px;
  vertical-align: middle;
  //fill: rgba(#555b5e, 0.1);
  fill: #c2d6d6;
  //fill: #ffffff;
  //border: 1px solid red;
}


.footer-socials__link:hover {
  fill: #ffffff;
  //fill: #6c9c5a;
}
.footer-socials__link:active {
  fill: red;
}
