.hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}


.hero__socials__block {
  width: 200px;
  height: 34px;
  position: absolute;
  top: 25px;
  left: 23px;
  //border: 1px solid red;
  //display: flex;
  //justify-content: center;
}

.hero__title {
  @include centered(y);
  text-align: center;
  width: 100%;
}


.hero__user-block {
  @include centered();
}

