
.map-container {
  //display: flex;
  //height: 1200px;
  height: 1076px;
  //justify-content: center;
  //align-items: center;
  overflow: hidden;
  position: relative;
  //background-image: url(../img/content/map1.png);
  background-image: url(../img/content/map.png);
  background-size: cover;
  background-position: center center;
  //border: 1px solid yellow;
}
/*
.map-container__block {
  height: 289px;
  width: 1090px;
  justify-content: flex-end;
  border: 1px solid red;
}
*/
.block-contacts {
  //display: flex;
  @include centered('both');
  //text-align: center;
  //flex-direction: column;
  width: 380px;
  height: 289px;
  //position: relative;
  //height: 315px;
  background-color: rgba(#f6f6f2, 0.8);
  //border: 1px solid cyan;
}
.contacts__title{
  @include centered('x');
  //align-self: center;
  //max-width: 127px;
  //max-height: 51px;
  //border: 1px solid red;
}
.contacts__spisok{
  //display: flex;
 // align-items: center;
  //height: 76%;
  //width: 100%;
  position: absolute;
  top: 77px;
  //border: 1px solid darkorange;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content:center ;
  //position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //border: 1px solid green;
}
.map-marker {
  //display: flex;
  //margin-left: 165px;
  //margin-bottom: 100px ;
  position: absolute;
  top:  41%;
  left: 71%;
}
.marker__icon{
  height: 38px;
}