.triangle {
  height: 100px;
  width: 100%;

  &_fill{

    &_white{
      fill: $white;
      //fill: $white1; /* для макета forest  */
    }

    &_beige{
      fill: $beige;
      //fill: $beige1; /* для макета forest  */
    }

  }
}