.user {
	text-align: center;
}

.user__photo {
	width: 147px;
	height: 147px;
	border-radius: 50%;
	margin-bottom: 25px;
	overflow: hidden;
	display: inline-block;
}

.user__photo-avatar {
	display: block;
	max-width: 100%;
}

.user__name {
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 35px;
}

.user__desc {
	font-weight: 100;
	color: #ffffff;
}

