html {
  height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}
// Настройки wrapper - основной "обертки"
.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	//max-width: 1800px;
}

// Обнуление списков - установок браузеров
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
// Обнуление маржинов для параграфов- установок браузеров
p {
	margin: 0;
}
// Настройки для заголовков
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

// Установка размеров блоков с учётом padding и margin
* {
	box-sizing: border-box;
}