extends ../layout/main.layuot.pug


block content
    include ../pages/full_screen_menu
    include ../common/heder


    section.section.about
        .about__left
            svg(
                viewbox ="0 0 1000 100"
                preserveAspectRatio = "none"
                class="triangle triangle_fill_white about__triangles"
                )
                polygon(points="0,0 0,1000, 1000,100")

            //- Дописать подложку
            .about__section-title
                //- Для макета forest
                //-+title('Обо мне', 'about-header1.png', 'about__section-title', '48px')
                +title('Обо мне', 'about-header.png', 'about__section-title', '63px')
                //-+title('Новый заголовок!', 'works-header1.png')
                //.title(style="background-image: url('img/decor/about-heder.png')").about__section-title
                //-.title.about__section-title
                    | Обо мне
            .user-about
                .user-about__picture
                    //-img(src="./assets/img/content/my_about.jpg", alt="").about__photo
                    img(src="./assets/img/content/about.jpg", alt="").about__photo
                    //img(src="./assets/img/content/my_about_1.jpg", alt="").about__photo
                //.user-about__title
                +title('Кто Я','' , 'user-about__title', '30px')
                    //-.subtitle
                        | Кто Я
                .user-about__text
                    // Здесь будет редактор WISYWUG, поэтому стиле будет задавать он но свои надо задачть в начале этого файла
                    p Я веб разработчик из Москвы. Мне 59 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


        .about__right
            svg(
            viewbox ="0 0 1000 100"
            preserveAspectRatio = "none"
            class="triangle triangle_fill_beige about__triangles"
            )
                polygon(points="0,100 1000,100, 1000,0")
            .about-data
                .about-data__description.about-user-info
                    +title('Чем я могу быть','' , 'about-user-info__title', '34px')
                    +title('вам полезен','' , 'about-user-info__title1', '34px')

                    //-.about-user-info__title
                        .subttitle Чем я могу быть вам полезен
                    .about-user-info__text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                .about-user-info__content
                    include ../common/user_instuments

    section.section.map
        .map-container
            //.map-container__block
            .block-contacts
                .contacts__title
                    +title('Контакты', '','contacts__title','30px')
                .contacts__spisok

                    include ../common/contact_list_icon

            .map-marker
                a(href='').marker
                    img(src="./assets/img/icons/map_marker.svg", alt="").marker__icon





    include ../common/footer








