
.socials {
  display: flex;
  flex-direction: row;
  justify-content:center ;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.socials__link {
  //display: flex;
  line-height: 2rem;
  display: inline-block;
  width: 37px;
  height: 35px;
  margin-left: 10px;
  vertical-align: middle;
  fill: #ffffff;
  //border: 1px solid yellow;
}


.socials__link:hover {
  fill: #6c9c5a;
}
.socials__link:active {
  fill: red;
}

/*
.socials__link_vk{
  margin-left: 30px;
}
.socials__link_github {
  margin-left: 25px;
}
.socials__link_in {
  margin-left: 30px;
}
*/