.title  {
  //color: $main-font-color;
  color: $main-font-color2;
  //$size:63px;
  //font-size: $size;
  @include bernier(normal);

  padding: 15px 80px; // 35px 80px
  //display: inline-block;
  display: flex;
  justify-items: center;

  position: relative; /* позиционирование "чёрточек"  */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
 // border: 1px solid magenta;
  //float: left;

  $margin: 40px;

 &:after, &:before {
    content: "";
    //display: block;
    display: flex;
    @include centered(y);
    background: rgba($main-font-color1, .5);
    background: rgba($main-font-color2, .2);
    width: 22px;
    height: 5px;
  }

 &:after {
   right: $margin;
 }
 &:before {
    left: $margin;
 }

/* для макета forest
  &:after {
    content: '';
    display: block;
    @include centered(x);
    background: rgba($main-font-color2, 1);
    width: 100px;
    height: 3px;
  }
*/
}